@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Bebas Neue';
   background: url(../img/img\ 04.jpg);
}
#logo img {
   float: left;
   height: 75px;
   position: relative;
   top: 5px;
   left: 18px;
}

.container-grid {
   width: 85%;
   max-width: 1200px;
   margin: 0 auto;
}

header {
   z-index: 1;
   background-color: #F9003D;
   height: 80px;
   width: 100vw;
}

.conteudo-header {
   display: flex;
   justify-content: space-between;
   height: 100%;
   align-items: center;
}

.logo {
  height: 40px;
}

.menu-header {
   width: 50%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu-header a {
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1.25em;
   transition: 0.3s;
}

.menu-header a:hover:not(.botao) {
   font-size: 1.6em;
   transition: 0.3s;
   text-shadow: 4px 4px 6px #0000007a;
}

#carouselExempleInterval {
   position: relative;
   z-index: 10;
   gap: 0.5rem;
}
#carouselExempleInterval img {
   height: auto;
}

